@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@200&family=Open+Sans&family=Roboto+Condensed&display=swap');
body{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    background-color: rgb(148, 131, 146);
    padding: 3rem;
    border-radius: 8px;
    border: 1px solid  white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px -2px 8px rgb(227 106 236 / 50%);

}
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}
label{
    font-weight: bold;
}
.title{
    margin: 0;
    text-align: center;
}
.range{
    display: flex;
    align-items: center;

}
.numberInput{
    width: 2rem;
}
.password-display{
    background-color: white;
    color: black;
    padding: 1rem;
    border: 0.5px solid black;
    border-radius: 5px;
    width: 335px;
    height: 1.5rem;
    justify-content: center;
    text-align: center;
    word-break: break-all;


}
.btn{
    margin-top: 10px;
    grid-column: span 2;
    background-color: transparent;
    font-weight: bold;
    padding: .5rem 1rem;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    color: white;

}
.btn:hover{
    background-color: #FFFFFF33;

}